span.settings-label {
  text-align: center;
  display: block;
}

.settings {
  padding-bottom: 1.5em;
  padding-right: calc(1.5em - 0.6em);
  max-width: 200px;
}

label.switch {
  margin: 0 auto;
  display: block;
}
