<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-brand"><%= @photo.name %></div>
</nav>

<div id="photo-container">
	<%= image_tag @photo.filename %>
</div>
