<div id="map-container"></div>
<div id="watermark" title="About HistoriKC" data-toggle="modal" data-target="#about-modal">HistoriKC</div>

<div class="modal" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="about-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="about-modal">HistoriKC</h4>
      </div>
      <div class="modal-body">
        <h4>About</h4>
        <p>
          HistoriKC is an attempt to make historic photos of Kansas City more accessible. Despite our rich history and great
          repositories of photos like KC Public Library's Missouri Valley Special Collections, it was still difficult to explore photos
          by areas of the city. I hope you enjoy exploring Kansas City's history!
        </p>
        <p>
          Please follow <a href="http://twitter.com/historikc">@historikc on Twitter</a> for updates, and feel free to direct any questions there!
          If you would like photos from the same sources as HistoriKC delivered to you on social media, follow the historicpicskc accounts on
          <a href="http://twitter.com/historicpicskc">Twitter</a> or <a href="https://instagram.com/historicpicskc">Instagram</a>.
        </p>
        <h4>Photos</h4>
        <p>
          All photos on this site are sourced from the Missouri Valley Special Collections, Kansas City Public Library, Kansas City, Missouri.
        </p>
        <h4>Site</h4>
        <p>
          This site was created by <a href="http://twitter.com/kyledrowan">Kyle Rowan</a>, inspired by <a href="http://oldnyc.org">OldNYC</a>.
          The site is open-sourced on the <a href="http://github.com/kyledrowan/historikc-rails">historikc-rails</a> GitHub repository, and I
          welcome any contributions!
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
